<div class="container-fluid m-0">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 d-flex flex-column"></div>
    <div class="col-sm-5 col-md-5 col-lg-5 d-flex flex-column">
      <h4>Information Center</h4>
      <a [routerLink]="['about/']">About Us</a>
      <a [routerLink]="['paymentShipping/']">Payments & Shipping</a>
      <a [routerLink]="['terms/']">Terms of Service</a>
      <a [routerLink]="['privacy/']">Privacy Policy</a>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 d-flex flex-column">
      <h4>Hobbies Emporium Info</h4>
      <h6>Address: 1234 Example Street, City of Industries, CA 91803</h6>
      <h6>Hours: Monday-Friday: 10:00AM-5:00PM, Saturday: 11AM-6PM</h6>
      <h6>Contact: sales&#64;hobbiesemporium.com</h6>
    </div>
  </div>
</div>
