<div class="container mt-3">
  <h1 class="title">Payments & Shipping</h1>
  <h2 class="mb-3">
    Please do not provide any payment information on this website.
  </h2>
  <p>
    Hobbies Emporium is a mock shopping website created for demonstration
    purposes only. No products are actually being sold, and no transactions are
    processed.
  </p>
  <p>
    For more details, please visit the
    <a [routerLink]="['about/']">About Us</a> page linked at the bottom of the
    site.
    <br />
  </p>
</div>
