<div class="container mt-3">
  <h1 class="title">About Us</h1>
  <h2 class="mb-3">Thank you for visiting Hobbies Emporium!</h2>
  <p>
    Please note that this is not a real shopping site for Gundam plastic models.
    It is a demo project created as part of a computer science student’s
    portfolio.
  </p>
  <p>
    If you're interested in learning more about the creator of this site, feel
    free to visit:
    <br />
    <a href="https://cohenk.github.io/">My portfolio on Github.</a>
  </p>
</div>
