.spacer {
    flex: 1;
}

.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

nav{
    max-height: 60px;
    background-color: #1976d2;
}
img {
    max-height: 60px;
    margin: 0 16px;
}
.cart-button{
    position: relative;
    padding: 0;
    padding: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cartNumber{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 25px;
    border-radius: 50%;
    background-color: #fb2f38;
}

#cart{
    height: 40px;
    margin: 0;
}
#twitter-logo {
    height: 40px;
    margin: 0 8px;
}
#youtube-logo {
    height: 40px;
    margin: 0 16px;
}

#twitter-logo:hover,
#youtube-logo:hover {
    opacity: 0.8;
}