filter {
  position: sticky;
}

.content {
  min-height: 80vh;
}

.searchBubble {
  display: inline-flex;
  align-items: center;
  height: auto;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  border: 2px solid #2c52b3;
  color: #fb2f38;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.btn-close {
  font-size: 0.6rem;
  margin-left: 0.2rem;
}
.btn-close:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

.pagination {
  display: flex;
  justify-content: center;
}
