<div class="d-flex">
    <ul class="pagination">
        <li class="page-item">
            <button class="btn btn-primary" aria-label="Previous" (click)="decrement()">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">
            <span class="page-link">{{count}}</span>
        </li>
        <li class="page-item">
            <button class="btn btn-primary" aria-label="Next" (click)="increment()">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
    <button class="btn btn-primary" (click)="indicateAmount()">
        Add to Cart
    </button>
</div>
