<div class="modal modal-xl fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form 
            class="container"
            [formGroup]="loginForm"
            (ngSubmit)="$event.preventDefault(); login()">
            <h1 class="modal-title fs-5" id="loginModalLabel">Log in to your account</h1>
            <div>
              <label class="form-label">Email</label>
              <input 
                  type="text" 
                  class="form-control"
                  formControlName="loginEmail"
                  [(ngModel)]="this.loginEmail"
              >
              @if (loginForm.get('loginEmail')?.invalid && (loginForm.get('loginEmail')?.dirty || loginForm.get('loginEmail')?.touched)){
                @if (loginForm.get('loginEmail')?.hasError('required')) {
                  <small class="text-danger">This field is required</small>
                }
                @if (loginForm.get('loginEmail')?.hasError('email')) {
                  <small class="text-danger">Please enter a valid email</small>
              }
            }
            </div>
            <div>
                <label class="form-label">Password</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="loginPassword"
                    [(ngModel)]="this.loginPassword"
                >
                @if (loginForm.get('loginPassword')?.invalid && (loginForm.get('loginPassword')?.dirty || loginForm.get('loginPassword')?.touched)){
                  @if (loginForm.get('loginPassword')?.hasError('required')) {
                    <small class="text-danger">This field is required</small>
                  }
              }
            </div>
            <div
              class="pt-3">
              <button 
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
          
          
          <form 
            class="container pt-3"
            [formGroup]="registerForm"
            (ngSubmit)="$event.preventDefault(); register()">
            <h1 class="modal-title fs-5" id="loginModalLabel">Create a new account</h1>
            <div>
                <label class="form-label">Email</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="newEmail"
                    [(ngModel)]="this.newEmail"
                >
                @if (registerForm.get('newEmail')?.invalid && (registerForm.get('newEmail')?.dirty || registerForm.get('newEmail')?.touched)){
                    @if (registerForm.get('newEmail')?.hasError('required')) {
                      <small class="text-danger">This field is required</small>
                    }
                    @if (registerForm.get('newEmail')?.hasError('email')) {
                      <small class="text-danger">Please enter a valid email</small>
                    }
                }
            </div>
            <div>
                <label class="form-label">Password</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="newPassword"
                    [(ngModel)]="this.newPassword"
                >
                @if (registerForm.get('newPassword')?.invalid && (registerForm.get('newPassword')?.dirty || registerForm.get('newPassword')?.touched)){
                    @if (registerForm.get('newPassword')?.hasError('required')) {
                      <small class="text-danger">This field is required</small>
                    }
                    @if (registerForm.get('newPassword')?.hasError('invalidPassword')) {
                      <small class="text-danger">Please enter a password with at least 8 characters</small>
                    }
                }
            </div>
            <div
              class="pt-3">
              <button 
                type="submit"
                class="btn btn-primary" 
                data-bs-dismiss="modal"
                [disabled]="registerForm.invalid">Register</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>